<% provide(:title, "Edit user") %>
<h1>更新</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= render 'fields',f: f %>
		<%= f.submit "保存", class: "btn btn-large btn-primary" %>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">变更Gravatar头像</a>
	</div>
</div>
