<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 60 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "我的页面", current_user %>
</span>
<span>
  <%= current_user.microposts.count %>条记录
</span>